.posts-container {
    &__list {
        margin-top: 25px;
        padding-left: 13px;
    }

    &__post {
        display: inline-block;

        margin: 15px 10px;

        vertical-align: middle;
    }

    &__navigation {
        margin: 10px 0;
    }

    &__navigation-number {
        display: inline-block;

        margin-right: 8px;

        cursor: pointer;

        color: #127287;
    }

    &__navigation-number_selected {
        color: black;
    }
}
