.post-preview {
    width: 200px;

    &__island {
        color: #127287;
        border: #ddd 1px solid;
        padding: 6px;
        border-radius: 2px;
        cursor: pointer;
    }

    &__island:hover {
        background: #F5F5F5;
    }

    &__description {
        font-size: 12px;
        line-height: 16px;
        max-height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 4px 6px;
    }

    &__img-wrapper {
        max-height: 300px;
        overflow: hidden;
    }

    &__img {
        cursor: pointer;
        width: 100%;
    }
}





