.post-preview {
    width: 200px;
}
.post-preview__island {
    color: #127287;
    border: #ddd 1px solid;
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
}
.post-preview__island:hover {
    background: #F5F5F5;
}
.post-preview__description {
    font-size: 12px;
    line-height: 16px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4px 6px;
}
.post-preview__img-wrapper {
    max-height: 300px;
    overflow: hidden;
}
.post-preview__img {
    cursor: pointer;
    width: 100%;
}
