<div class="post-preview {{class}}" data-id="{{id}}">
    <div class="post-preview__island">
        <div class="post-preview__img-wrapper">
            <img class="post-preview__img" src="{{imgUrl}}"/>
        </div>
        <div class="post-preview__description">{{description}}</div>
    </div>
</div>
