{{#with post}}
<div class="post__img-wrapper">
    <img class="post__img" src="{{imgUrl}}"/>
</div>
<div class="post__description">{{description}}</div>
{{/with}}
{{> comments class='post__comments'}}
