html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
a {
    color: #127287;
}

.layout {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 23px;
    position: relative;
    min-height: 100%;
}

.header {
    height: 100px;
}

.header-layout {
    width: 600px;
    margin: 15px auto;
}

.user-menu {
    float: right;
    text-align: right;
    font-size: 12px;
    margin-top: 20px;
}
.user-menu__logout {
    display: inline-block;
    cursor: pointer;
    color: #127287;
    -webkit-user-select: none;
    user-select: none;
}

.application-logo {
    float: left;
    background: url( 'app_logo.png' ) no-repeat;
    background-size: 100px 100px;
    display: inline-block;
    width: 100px;
    height: 100px;
}

.application-text {
    float: left;
    margin: 25px;
}
.application-text__greeting {
    font-size: 12px;
}
.application-text__cta {
    font-size: 16px;
    font-weight: 900;
}

.content {
    overflow: hidden;
    margin: 0 auto;
    width: 700px;
    padding-bottom: 130px;
}

.posts-container {
    width: 700px;
}

.posts-container__search {
    display: inline-block;
}
.posts-container__search-input {
    height: 20px;
    width: 200px;
    padding: 2px;
    font-size: 14px;
    outline: none;
}

.posts-container__menu {
    float: right;
    margin-top: 4px;
}
.posts-container__menu-item {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    font-family: "Playfair Display";
}
.posts-container__menu-item:hover {
    text-decoration: underline;
}
.posts-container__menu-item_selected {
    text-decoration: underline;
}

.posts-container__list {
    padding-left: 13px;
    margin-top: 25px;
}
.posts-container__post {
    display: inline-block;
    vertical-align: middle;
    margin: 15px 10px;
}

.post-preview {
    width: 200px;
}
.post-preview__island {
    color: #127287;
    border: #ddd 1px solid;
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;
}
.post-preview__island:hover {
    background: #F5F5F5;
}
.post-preview__description {
    font-size: 12px;
    line-height: 16px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4px 6px;
}
.post-preview__img-wrapper {
    max-height: 300px;
    overflow: hidden;
}
.post-preview__img {
    cursor: pointer;
    width: 100%;
}

.posts-container__navigation {
    margin: 10px 0;
}

.posts-container__navigation-number {
    display: inline-block;
    color: #127287;
    cursor: pointer;
    margin-right: 8px;
}
.posts-container__navigation-number_selected {
    color: black;
}

.footer {
    background: #F3F3F3;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.post-wrapper {
    margin: 0 auto;
    width: 500px;
}
.related-posts {
    width: 630px;
    margin: 50px auto;
}
.related-posts__post {
    display: inline-block;
    vertical-align: top;
}
.related-post-preview {
    width: 200px;
}
.related-post-preview__island {
    color: #127287;
    padding: 6px;
    cursor: pointer;
}
.related-post-preview__description {
    font-size: 12px;
    line-height: 16px;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4px 6px;
}
.related-post-preview__img-wrapper {
    max-height: 150px;
    overflow: hidden;
}
.related-post-preview__img {
    cursor: pointer;
    width: 100%;
}

.comments {
    margin: 20px 0;
}
.comment {
    margin: 10px 0;
}